.title {
  font-family: var(--title-font);
  color: var(--main-color);
  font-size: 8rem;
}

.form-control {
  border: 3px solid var(--main-color);
  border-radius: 40px;
}

.btn-primary {
  background: var(--main-color);
  border-radius: 40px;
}

.btn-primary:hover {
  background: #3f1651;
}

.btn-primary:focus,
.btn-primary {
  border: none;
}

@media screen and (max-width: 720px) {
  .filler {
    visibility: hidden;
  }

  .title {
    font-size: 6rem;
  }
}
