@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  font-family: var(--title-font);
  color: var(--main-color);
  font-size: clamp(1rem, 5vw + 4rem, 15rem);
}
.title span {
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
  position: relative;
  display: inline-block;
}
.title:hover {
  color: #fff;
  text-shadow: 0 0 5px #B27CC5,
              0 0 25px #B27CC5,
              0 0 50px #B27CC5,
              0 0 100px #B27CC5;
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}
:root{
  --main-color: #653780;
  --hover-color: #352042;
  --title-font: 'Josefin Sans', sans-serif;
}

.body{
  background-color: #DED3D3 !important;
}

*{
  font-family: var(--title-font) !important;
}

