@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


:root{
  --main-color: #3C2A2F;
  --title-font: 'Josefin Sans', sans-serif;
}

.body{
  background-color: #f0f0f0;
}

*{
  font-family: var(--title-font) !important;
}

